<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Обновление пользователя</title>
  </title>
</head>
<body>
<div align="links">
  <h4>Обновить пользователя</h4>
  <form th:action="@{/updateUser}" th:method="post" th:object="${user}">
    <label for="name">Имя</label><br>
    <input type="text" th:field="*{name}" id="name"/>

    <br/>

    <label for="age">Возраст</label><br>
    <input type="text" th:field="*{age}" id="age"/>

    <br/>

    <label for="mail">Почта</label><br>
    <input type="text" th:field="*{mail}" id="mail"/>
    <br/>
    <input type="submit" value="Обновить"/>

  </form>
</div>
</body>
</html>